### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [47]:
# Dependencies and Setup
import pandas as pd
import os
#import numpy 

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [48]:
#Calculate the total number of schools
TOTAL_SCHOOLS=school_data_complete['school_name'].nunique()
print(TOTAL_SCHOOLS)

#Calculate the total number of students
TOTAL_STUDENTS=school_data_complete['student_name'].count()
print(TOTAL_STUDENTS)

#Calculate the total budget
TOTAL_BUDGET=school_data_complete["budget"].sum()
print(TOTAL_BUDGET)

#Calculate the average math score
AVG_MATHSCORE=school_data_complete["math_score"].mean()
print(AVG_MATHSCORE)

#Calculate the average reading score
AVG_READINGSCORE=school_data_complete["reading_score"].mean()
print(AVG_READINGSCORE)

#Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2
overall_average_score=(AVG_MATHSCORE+AVG_READINGSCORE)/2
print(overall_average_score)

#Calculate the percentage of students with a passing math score (70 or greater)
percent_math=school_data_complete["math_score"].ge(70).mean()*100
print(percent_math)

#Calculate the percentage of students with a passing reading score (70 or greater)
percent_reading=school_data_complete["reading_score"].ge(70).mean()*100
print(percent_reading)

#Create a dataframe to hold the above results
df = pd.DataFrame({'TOTAL_SCHOOLS': [TOTAL_SCHOOLS],'TOTAL_STUDENTS':[TOTAL_STUDENTS],'TOTAL_BUDGET':[TOTAL_BUDGET],'AVG_MATHSCORE':[AVG_MATHSCORE],'AVG_READINGSCORE':[AVG_READINGSCORE],'overall_average_score':[overall_average_score],'percent_math':[percent_math],'percent_reading':[percent_reading]})

df.head()

15
39170
82932329558
78.98537145774827
81.87784018381414
80.43160582078121
74.9808526933878
85.80546336482001

,TOTAL_SCHOOLS,TOTAL_STUDENTS,TOTAL_BUDGET,AVG_MATHSCORE,AVG_READINGSCORE,overall_average_score,percent_math,percent_reading
0,15,39170,82932329558,78.985371,81.87784,80.431606,74.980853,85.805463

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [49]:
#schooltype
SCHOOL_NAME_TYPE = school_data.set_index(["school_name"])["type"]
print(SCHOOL_NAME_TYPE)


#total students per school
total_students_per_school = school_data_complete["school_name"].value_counts()
print(total_students_per_school)


#total school budget
budget_per_school = school_data_complete.groupby(["school_name"]).mean()["budget"]
budget_per_school

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [50]:
#Per Student Budget 
budget_per_student = budget_per_school/total_students_per_school
budget_per_student

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [51]:
#Average Math Score per school
avg_math_scores = round(school_data_complete.groupby(["school_name"]).mean()["math_score"],2)
avg_math_scores

school_name
Bailey High School       77.05
Cabrera High School      83.06
Figueroa High School     76.71
Ford High School         77.10
Griffin High School      83.35
Hernandez High School    77.29
Holden High School       83.80
Huang High School        76.63
Johnson High School      77.07
Pena High School         83.84
Rodriguez High School    76.84
Shelton High School      83.36
Thomas High School       83.42
Wilson High School       83.27
Wright High School       83.68
Name: math_score, dtype: float64

In [52]:
#Average Reading Score per school
avg_reading_scores = round(school_data_complete.groupby(["school_name"]).mean()["reading_score"],2)
avg_reading_scores

school_name
Bailey High School       81.03
Cabrera High School      83.98
Figueroa High School     81.16
Ford High School         80.75
Griffin High School      83.82
Hernandez High School    80.93
Holden High School       83.81
Huang High School        81.18
Johnson High School      80.97
Pena High School         84.04
Rodriguez High School    80.74
Shelton High School      83.73
Thomas High School       83.85
Wilson High School       83.99
Wright High School       83.96
Name: reading_score, dtype: float64

In [53]:
#% Passing Math per school

# total students passing math from the combined dataset
#students_passing_math= school_data_complete["math_score"].ge(70)
students_passing_math = school_data_complete[(school_data_complete["math_score"]>70)]

#total students passing math per school by using groupby
students_passing_math_per_school = students_passing_math.groupby(["school_name"]).count()["student_name"]

#percentage of students passing math per school
percentage_passing_math_per_school = round((students_passing_math_per_school/total_students_per_school)*100,2)
percentage_passing_math_per_school

Bailey High School       64.63
Cabrera High School      89.56
Figueroa High School     63.75
Ford High School         65.75
Griffin High School      89.71
Hernandez High School    64.75
Holden High School       90.63
Huang High School        63.32
Johnson High School      63.85
Pena High School         91.68
Rodriguez High School    64.07
Shelton High School      89.89
Thomas High School       90.21
Wilson High School       90.93
Wright High School       90.28
dtype: float64

In [54]:
#% Passing Reading per school

# total students passing reading from the combined dataset
students_passing_reading = school_data_complete[school_data_complete["reading_score"]>70]

#total students passing reading per school by using groupby
students_passing_reading_per_school = students_passing_reading.groupby(["school_name"]).count()["student_name"]

#percentage of students passing reading per school
percentage_passing_reading_per_school = round((students_passing_reading_per_school/total_students_per_school)*100,2)
percentage_passing_reading_per_school

Bailey High School       79.30
Cabrera High School      93.86
Figueroa High School     78.43
Ford High School         77.51
Griffin High School      93.39
Hernandez High School    78.19
Holden High School       92.74
Huang High School        78.81
Johnson High School      78.28
Pena High School         92.20
Rodriguez High School    77.74
Shelton High School      92.62
Thomas High School       92.91
Wilson High School       93.25
Wright High School       93.44
dtype: float64

In [55]:
#Overall Passing Rate (Average of the above two)

overall_passing_rate=(percentage_passing_math_per_school+percentage_passing_reading_per_school)/2
overall_passing_rate

Bailey High School       71.965
Cabrera High School      91.710
Figueroa High School     71.090
Ford High School         71.630
Griffin High School      91.550
Hernandez High School    71.470
Holden High School       91.685
Huang High School        71.065
Johnson High School      71.065
Pena High School         91.940
Rodriguez High School    70.905
Shelton High School      91.255
Thomas High School       91.560
Wilson High School       92.090
Wright High School       91.860
dtype: float64

In [56]:
#Create a dataframe to hold the above results for school summary

df_school_summary = pd.DataFrame({"School Type":SCHOOL_NAME_TYPE,
                                 "Total Student per School":total_students_per_school,
                                 "Total School Budget":budget_per_school,
                                  "Budget per student":budget_per_student,
                                 "Average Math Score per School":avg_math_scores,
                                 "Average Reading Score per School":avg_reading_scores,
                                 "% Passing Math per School":percentage_passing_math_per_school,
                                 "% Passing Reading per School":percentage_passing_reading_per_school,
                                 "Overall Passing rate":overall_passing_rate})
df_school_summary

,School Type,Total Student per School,Total School Budget,Budget per student,Average Math Score per School,Average Reading Score per School,% Passing Math per School,% Passing Reading per School,Overall Passing rate
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,64.63,79.30,71.965
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,89.56,93.86,91.710
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,63.75,78.43,71.090
Ford High School,District,2739,1763916.0,644.0,77.10,80.75,65.75,77.51,71.630
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,89.71,93.39,91.550
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,64.75,78.19,71.470
Holden High School,Charter,427,248087.0,581.0,83.80,83.81,90.63,92.74,91.685
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,63.32,78.81,71.065
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,63.85,78.28,71.065
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,91.68,92.20,91.940
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,64.07,77.74,70.905
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,89.89,92.62,91.255
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,90.21,92.91,91.560
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,90.93,93.25,92.090
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,90.28,93.44,91.860

In [57]:
#Top Performing Schools by Passing Rate
top_performing_schools = df_school_summary.sort_values(["Overall Passing rate"],ascending = False).head(5)
top_performing_schools

,School Type,Total Student per School,Total School Budget,Budget per student,Average Math Score per School,Average Reading Score per School,% Passing Math per School,% Passing Reading per School,Overall Passing rate
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,90.93,93.25,92.090
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,91.68,92.20,91.940
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,90.28,93.44,91.860
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,89.56,93.86,91.710
Holden High School,Charter,427,248087.0,581.0,83.80,83.81,90.63,92.74,91.685

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [ ]:
#Sort and display the five worst-performing schools

In [58]:
bottom_five_worst_schools = df_school_summary.sort_values(["Overall Passing rate"],ascending = False).tail(5)
bottom_five_worst_schools

,School Type,Total Student per School,Total School Budget,Budget per student,Average Math Score per School,Average Reading Score per School,% Passing Math per School,% Passing Reading per School,Overall Passing rate
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,64.75,78.19,71.470
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,63.75,78.43,71.090
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,63.32,78.81,71.065
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,63.85,78.28,71.065
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,64.07,77.74,70.905

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [59]:
#Create a pandas series for each grade. Group each series by school.

ninth_grade =  school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name").mean()["math_score"]
tenth_grade =  school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name").mean()["math_score"]
eleventh_grade =  school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name").mean()["math_score"]
twelveth_grade=  school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name").mean()["math_score"]

#Combine the series into a dataframe
df_math_grade = pd.DataFrame({"9th_grade":ninth_grade, "10th_grade":tenth_grade, 
                                     "11th_grade":eleventh_grade, "12th_grade":twelveth_grade})   
df_math_grade

                       9th_grade  10th_grade  11th_grade  12th_grade
school_name
Bailey High School     77.083676   76.996772   77.515588   76.492218
Cabrera High School    83.094697   83.154506   82.765560   83.277487
Figueroa High School   76.403037   76.539974   76.884344   77.151369
Ford High School       77.361345   77.672316   76.918058   76.179963
Griffin High School    82.044010   84.229064   83.842105   83.356164
Hernandez High School  77.438495   77.337408   77.136029   77.186567
Holden High School     83.787402   83.429825   85.000000   82.855422
Huang High School      77.027251   75.908735   76.446602   77.225641
Johnson High School    77.187857   76.691117   77.491653   76.863248
Pena High School       83.625455   83.372000   84.328125   84.121547
Rodriguez High School  76.859966   76.612500   76.395626   77.690748
Shelton High School    83.420755   82.917411   83.383495   83.778976
Thomas High School     83.590022   83.087886   83.498795   83.497041
Wilson High School     83.085578   83.724422   83.195326   83.035794
Wright High School     83.264706   84.010288   83.836782   83.644986

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [60]:
#Create a pandas series for each reading grade. Group each series by school.

ninth_grade =  school_data_complete[school_data_complete["grade"] == "9th"].groupby("school_name").mean()["reading_score"]
tenth_grade =  school_data_complete[school_data_complete["grade"] == "10th"].groupby("school_name").mean()["reading_score"]
eleventh_grade =  school_data_complete[school_data_complete["grade"] == "11th"].groupby("school_name").mean()["reading_score"]
twelveth_grade=  school_data_complete[school_data_complete["grade"] == "12th"].groupby("school_name").mean()["reading_score"]

#Combine the series into a dataframe
df_reading_grade = pd.DataFrame({"9th_grade":ninth_grade, "10th_grade":tenth_grade, 
                                     "11th_grade":eleventh_grade, "12th_grade":twelveth_grade})   
df_reading_grade

                       9th_grade  10th_grade  11th_grade  12th_grade
school_name
Bailey High School     81.303155   80.907183   80.945643   80.912451
Cabrera High School    83.676136   84.253219   83.788382   84.287958
Figueroa High School   81.198598   81.408912   80.640339   81.384863
Ford High School       80.632653   81.262712   80.403642   80.662338
Griffin High School    83.369193   83.706897   84.288089   84.013699
Hernandez High School  80.866860   80.660147   81.396140   80.857143
Holden High School     83.677165   83.324561   83.815534   84.698795
Huang High School      81.290284   81.512386   81.417476   80.305983
Johnson High School    81.260714   80.773431   80.616027   81.227564
Pena High School       83.807273   83.612000   84.335938   84.591160
Rodriguez High School  80.993127   80.629808   80.864811   80.376426
Shelton High School    84.122642   83.441964   84.373786   82.781671
Thomas High School     83.728850   84.254157   83.585542   83.831361
Wilson High School     83.939778   84.021452   83.764608   84.317673
Wright High School     83.833333   83.812757   84.156322   84.073171

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [61]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]


#categorize the spendings 
df_school_summary["Spending Ranges (Per Student)"] = pd.cut(budget_per_student,spending_bins,labels = group_names)
df_school_summary

,School Type,Total Student per School,Total School Budget,Budget per student,Average Math Score per School,Average Reading Score per School,% Passing Math per School,% Passing Reading per School,Overall Passing rate,Spending Ranges (Per Student)
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,64.63,79.30,71.965,$615-645
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,89.56,93.86,91.710,<$585
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,63.75,78.43,71.090,$615-645
Ford High School,District,2739,1763916.0,644.0,77.10,80.75,65.75,77.51,71.630,$615-645
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,89.71,93.39,91.550,$615-645
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,64.75,78.19,71.470,$645-675
Holden High School,Charter,427,248087.0,581.0,83.80,83.81,90.63,92.74,91.685,<$585
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,63.32,78.81,71.065,$645-675
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,63.85,78.28,71.065,$645-675
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,91.68,92.20,91.940,$585-615
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,64.07,77.74,70.905,$615-645
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,89.89,92.62,91.255,$585-615
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,90.21,92.91,91.560,$615-645
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,90.93,93.25,92.090,<$585
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,90.28,93.44,91.860,<$585

In [62]:
##CALCULATIONS

#Average Math Score
avg_math_score_spending = round(df_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score per School"],2)
#Average Reading Score
avg_reading_score_spending = round(df_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score per School"],2)
#% Passing Math
students_passing_math_spending = round(df_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math per School"],2)
#% Passing Reading
students_passing_reading_spending = round(df_school_summary.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading per School"],2)

#Overall Passing Rate (Average of the above two)
overall_pass_rate_spending = (students_passing_math_spending + students_passing_reading_spending)/2



#create a fataframe
scores_by_school_spending = pd.DataFrame({"Average Math Score (Spending)":avg_math_score_spending,
                                     "Average Reading Score (Spending)":avg_reading_score_spending,
                                     "% Passing Math (Spending)":students_passing_math_spending,
                                     "%Passing Reading (Spending)":students_passing_reading_spending ,
                                     "Overall Passing rate (Spending)":overall_pass_rate_spending})

scores_by_school_spending

,Average Math Score (Spending),Average Reading Score (Spending),% Passing Math (Spending),%Passing Reading (Spending),Overall Passing rate (Spending)
Spending Ranges (Per Student),,,,,
<$585,83.45,83.94,90.35,93.32,91.835
$585-615,83.60,83.88,90.78,92.41,91.595
$615-645,79.08,81.89,73.02,83.21,78.115
$645-675,77.00,81.03,63.97,78.43,71.200

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,95.035486
$585-615,83.599686,83.885211,94.230858,95.900287,95.065572
$615-645,79.079225,81.891436,75.668212,86.106569,80.887391
$645-675,76.997210,81.027843,66.164813,81.133951,73.649382

## Scores by School Size

* Perform the same operations as above, based on school size.

In [63]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [64]:
#categorise the dataframe
df_school_summary["Size of the school"] = pd.cut(df_school_summary["Total Student per School"],size_bins,labels =group_names )
df_school_summary

,School Type,Total Student per School,Total School Budget,Budget per student,Average Math Score per School,Average Reading Score per School,% Passing Math per School,% Passing Reading per School,Overall Passing rate,Spending Ranges (Per Student),Size of the school
Bailey High School,District,4976,3124928.0,628.0,77.05,81.03,64.63,79.30,71.965,$615-645,Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.06,83.98,89.56,93.86,91.710,<$585,Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,76.71,81.16,63.75,78.43,71.090,$615-645,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.10,80.75,65.75,77.51,71.630,$615-645,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.35,83.82,89.71,93.39,91.550,$615-645,Medium (1000-2000)
Hernandez High School,District,4635,3022020.0,652.0,77.29,80.93,64.75,78.19,71.470,$645-675,Large (2000-5000)
Holden High School,Charter,427,248087.0,581.0,83.80,83.81,90.63,92.74,91.685,<$585,Small (<1000)
Huang High School,District,2917,1910635.0,655.0,76.63,81.18,63.32,78.81,71.065,$645-675,Large (2000-5000)
Johnson High School,District,4761,3094650.0,650.0,77.07,80.97,63.85,78.28,71.065,$645-675,Large (2000-5000)
Pena High School,Charter,962,585858.0,609.0,83.84,84.04,91.68,92.20,91.940,$585-615,Small (<1000)
Rodriguez High School,District,3999,2547363.0,637.0,76.84,80.74,64.07,77.74,70.905,$615-645,Large (2000-5000)
Shelton High School,Charter,1761,1056600.0,600.0,83.36,83.73,89.89,92.62,91.255,$585-615,Medium (1000-2000)
Thomas High School,Charter,1635,1043130.0,638.0,83.42,83.85,90.21,92.91,91.560,$615-645,Medium (1000-2000)
Wilson High School,Charter,2283,1319574.0,578.0,83.27,83.99,90.93,93.25,92.090,<$585,Large (2000-5000)
Wright High School,Charter,1800,1049400.0,583.0,83.68,83.96,90.28,93.44,91.860,<$585,Medium (1000-2000)

In [65]:
##CALCULATIONS OF SCORES BY SCHOOL SIZE

#Average Math Score

avg_math_score_size = df_school_summary.groupby(["Size of the school"]).mean()["Average Math Score per School"]
#Average Reading Score
avg_reading_score_size = df_school_summary.groupby(["Size of the school"]).mean()["Average Reading Score per School"]
#% Passing Math
percentage_passing_math_size = df_school_summary.groupby(["Size of the school"]).mean()["% Passing Math per School"]
#% Passing rEADING
percentage_passing_reading_size = df_school_summary.groupby(["Size of the school"]).mean()["% Passing Reading per School"]
#Overall Passing Rate (Average of the above two)
overall_passing_rate = df_school_summary.groupby(["Size of the school"]).mean()["Overall Passing rate"]


#create a fataframe

scores_BY_school_size = pd.DataFrame({"Average Math Score":avg_math_score_size,
                                  "Average Reading Score":avg_reading_score_size,
                                  "% Passing Math":percentage_passing_math_size,
                                  "% Passing Reading":percentage_passing_reading_size,
                                  "Overall Passing rate":overall_passing_rate})


scores_BY_school_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing rate
Size of the school,,,,,
Small (<1000),83.820,83.92500,91.15500,92.47000,91.8125
Medium (1000-2000),83.374,83.86800,89.93000,93.24400,91.5870
Large (2000-5000),77.745,81.34375,67.63125,80.18875,73.9100

## Scores by School Type

* Perform the same operations as above, based on school type.

In [66]:
##CALCULATIONS OF SCORES BY SCHOOL TYPE

#Average Math Score
avg_math_score_type = df_school_summary.groupby(["School Type"]).mean()["Average Math Score per School"]

#Average Reading Score
avg_reading_score_type = df_school_summary.groupby(["School Type"]).mean()["Average Reading Score per School"]

#% Passing Math
percentage_passing_math_type = df_school_summary.groupby(["School Type"]).mean()["% Passing Math per School"]
#% Passing Reading

percentage_passing_reading_type = df_school_summary.groupby(["School Type"]).mean()["% Passing Reading per School"]

#Overall Passing Rate (Average of the above two)
overall_passing_rate_type = df_school_summary.groupby(["School Type"]).mean()["Overall Passing rate"]


#create a fataframe

scores_by_school_type = pd.DataFrame({"Average Math Score":avg_math_score_type,
                                  "Average Reading Score":avg_reading_score_type,
                                  "% Passing Math":percentage_passing_math_type,
                                  "% Passing Reading":percentage_passing_reading_type,
                                  "Overall Passing rate":overall_passing_rate_type})



scores_by_school_type

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing rate
School Type,,,,,
Charter,83.472500,83.897500,90.361250,93.051250,91.706250
District,76.955714,80.965714,64.302857,78.322857,71.312857